.profile-pic {
    border-radius: 50%;
    width:300px;
    height:300px;
    border:solid black 1px;
}

body {
    background-color: #E4F6C5;
    text-align: center;
    font-family:'PT Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #73AD21;
}
nav{
    display: inline-block;
}

#icons{
    float: left;
    padding: 15px;
}

#menu{
    float: right;
    padding: 15px;
}

nav a:link{
    text-decoration: none;
    padding: 0 12px;
}


a:hover {
    color: black;
}

ul {
    text-align: center;
} 

li {
    display: inline;
}

.push{
    margin-top: 70px;
}

.sections {
    background: white;
    margin: auto;
    width: 60%;
    border: 2px solid #73AD21;
    padding: 10px;

}


footer {
    background-color: #FFFFFF; /*#DFFBAE*/
    margin: 100px -15px;
    padding: 1em;
    position: fixed;
    width: 100%;
}
