* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.profile-pic {
    border-radius: 50%;
    width:300px;
    height:auto;
    border:solid black 1px;
}

body {
    background-color: #E4F6C5;
    text-align: center;
    font-family:'PT Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #73AD21;
    
}
nav{
    display: inline;
}

#icons{
    float: left;
    padding: 15px;
}

#menu{
    float: right;
    padding: 15px;
}

nav a:link{
    text-decoration: none;
    padding: 0 12px;
}

a{
    text-decoration: none;
}

a:hover {
    color: black;
}

ul {
    text-align: center;
} 

li {
    display: inline;
}

.push{
    margin-top: 70px;
}

.sections {
    background: white;
    margin: auto;
    width: 60%;
    border: 2px solid #73AD21;
    padding: 10px;
}

.card-img-top {
    max-width:100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    border: 1px solid black;
    padding: 10%;
    height: auto;
    width: 50%;
    width: 18rem;

}

button {
    padding: 3%;
}
/*
.footer {
    background-color: #73AD21;
    position: fixed;
    bottom:0;
    width: 100%;    
}
*/
